node_modules
.next
.env
*.log
.DS_Store
public/uploads/images/*
public/uploads/files/*
public/uploads/videos/*
!public/uploads/images/sample-*
!public/uploads/images/jktac-*
!public/uploads/files/sample.zip
