node_modules
.next
.env
*.log
.DS_Store
public/uploads/images/*
backups/

public/uploads/files/*
public/uploads/feedback/*
!public/uploads/feedback/.gitkeep
!public/uploads/images/sample-*
!public/uploads/images/jktac-*
!public/uploads/images/cover-*
!public/uploads/files/sample.zip
